<template>
  <div class="blog">
      <div class="container">
      <router-link class="p" to="/"><span><img src="../assets/image/Union.png" alt=""></span>Вернуться на главную</router-link>

      
      <div class="subcontainer">
      
        <div class="subcontainer1">
          <div class="subcontainer11">
            <div  class="suret">
              <p>Картина</p>
            </div>
            
            <p class="title">Блог 1.</p>
            <p class="subtitle">HTML-верстка
            Утверждённый дизайн передаётся HTML-верстальщику, который «нарезает» графическую картинку на отдельные рисунки, из которых впоследствии складывает HTML-страницу. В результате создаётся код, который можно просматривать с помощью браузера. А типовые страницы впоследствии будут использоваться как шаблоны.
            Программирование
            Далее готовые HTML-файлы передают программисту. Программирование сайта может осуществляться как «с нуля», так и на основе CMS — системы управления сайтом. Веб-разработчики часто называют CMS «движком».
            В случае с CMS надо сказать, что сама «CMS» в некотором смысле это готовый сайт, состоящий из заменяемых частей. «Программист» — в данном случае правильно будет назвать его просто специалистом по CMS — должен заменить стандартный шаблон, поставлявшийся с CMS, на оригинальный шаблон. Этот оригинальный шаблон он и должен создать на основе исходного «веб-дизайна».
            При программировании сайта специалисту назначаются контрольные точки сроков.
            Завершающим этапом разработки сайта является тестирование
            Процесс тестирования может включать в себя самые разнообразные проверки: вид страницы с увеличенными шрифтами, при разных размерах окна браузера[1], при отсутствии флэш-плеера и многие другие. Также — юзабилити-тестирование.
            Обнаруженные ошибки отправляются на исправление до тех пор, пока не будут устранены. Сроки контролирует менеджер проекта. Также, на этом этапе привлекают к работе дизайнера, чтобы он провёл авторский надзор.
            </p>

            <p class="button"> Оставить заявку</p>
          </div>

         
          
        </div>
        
      </div>
    </div>
  </div>
</template>

<script>
export default {

}
</script>

<style scoped>
@media only screen and (max-width: 320px) {
   .blog{
     height:0 !important;
   }
 }
 @media only screen and (max-width: 800px) and (min-width: 321px) {
   .blog{
     height:0 !important;
   }
 
 }
/*.button{
  margin-top: 220px;
  width: 250px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 55px;
  color:black;
  background: #FFD600;
  border-radius: 2px;
}
.subtitle{
  font-style: normal;
  font-weight: normal;
  font-size: 14px !important;
  line-height: 25px;
  margin-top: 18px;
  color: #FFFFFF;
  width: 350px !important;
  height: 555px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  line-height: 25px;
  color: #FFFFFF;
}
.title{
  width: 350px !important;
  font-weight: 600;
  font-size: 25px !important;
  line-height: 33px;
  text-align: center;
  margin-top: 100px;
  color: #FFFFFF;
}
.suret p {
    font-weight: bold;
    font-size: 16px !important;
    line-height: 33px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: #000000;
}
.suret{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 350px !important; 
  height: 304px;
  background: gray;
}
.subcontainer11{
   width: 90%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin-left: 70px !important;
}

.subcontainer1{
  width: 80%;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.subcontainer{
  display:flex;
}


  span{
    margin-right: 4px;
    
  }
  .p{
    display: flex;
    opacity: 0.6;
    align-items: center;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
   

    text-align: center;

    color: #FFFFFF;
  }
  .container{
    width: 87%;
    height: 400px; 
    color: white;
  }
  .blog{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 400px !important;
  }
} */
.button:hover{
  opacity: 0.8;
}
.button{
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #343434;
  width: 60% !important;
  justify-content: center;
  height: 55px;
  color:black;
  background: #FFD600;
  border-radius: 2px;
  margin: 10px auto;
 
}
.subtitle{
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 25px;
  margin-top: 18px;
  color: #FFFFFF;
  width: 80vw;
  height: auto;
  font-family: Open Sans;
  font-style: normal;
  
}
.title{
  width: 50vw;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  text-align: center;
  margin-top: 100px;
  color: #FFFFFF;
 

}
.suret p {
  font-weight: bolder;
  font-size: 1.5rem;
  line-height: 33px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: #000000;
 
}
.suret{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 63vw;
  height: 40vh;
  background: gray;   
}
.subcontainer11{
   width: 70vw;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.subcontainer1{
  width: 80vw;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.subcontainer{
  display:flex;
  justify-content: center;
}
span{
  margin-right: 4px;   
}
.p{
    display: flex;
    opacity: 0.6;
    align-items: center;
    font-weight: normal;
    font-size: 0.9rem;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
   
}
  .container{
    width: 90vw;
    height: 400px; 
    color: white;
   
  }
  .blog{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 165vh ;
  }
</style>