<template>
  <div class="home">
    <ContainerComponent></ContainerComponent>
    <ProjectComponent></ProjectComponent>
    <BlogComponent></BlogComponent>
    <FormsComponent></FormsComponent>
    <ContactComponent></ContactComponent>
  </div>
</template>

<script>
import HeaderComponent from '../components/HeaderComponent'
import ContainerComponent from '../components/ContainerComponent'
import ProjectComponent from '../components/ProjectComponent'
import BlogComponent from '../components/BlogComponent'
import FormsComponent from '../components/FormsComponent'
import ContactComponent from '../components/ContactComponent'
export default {
  components: {
    HeaderComponent,ContainerComponent,ProjectComponent,BlogComponent,FormsComponent,ContactComponent,
  },
  data(){
    return{
    
    }
  },
  created:{
        
  }
}
</script>
<style scoped>
 @media only screen and (max-width: 1024px) and (min-width:375px) {
    .home{
      height: 0 !important;
    }
    } 
.home{
  height:0;
}
  img{
    width: 1000px;
    width: 1400px;
    height: 621.62px;
  }
</style>