<template>
  <div class="projects">
    <div class="container">
      <router-link class="p" to="/"><span><img src="../assets/image/Union.png" alt=""></span>Вернуться на главную</router-link>

      
      <div class="subcontainer">
        <div class="left_subcontainer_slider">
          <div class="left_subcontainer_slider_element" @click="goto(n)" v-for="(item,n) in slide_item" :key="n">
              <p class="slider_element_title" :class="{ visited: visibleSlide === n }">
                  {{item.title}}
              </p>
              <svg v-if="visibleSlide != n" width="50" height="1" viewBox="0 0 50 1" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M0 0H50V1H0V0Z" fill="#fff"/>
              </svg>
              <svg v-if="visibleSlide === n"  width="50" height="1" viewBox="0 0 50 1" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M0 0H50V1H0V0Z" fill="#FFD600"/>
              </svg>

              <p class="slider_element_id" :class="{ visited: visibleSlide === n }">{{item.id}}</p>
          </div>   
        </div>
        <div class="subcontainer1">
          <div class="subcontainer11"  v-for="(item,n) in slides" :visibleSlide="visibleSlide" :n="n" :key="n" >
            <transition  :name="direction" mode="in-out">
              <div v-show="visibleSlide === n" style="text-align:center;">
                <div  class="suret">
                <img :src="item.src" alt="">
              </div>
              
              <p class="title">{{item.subtitle}}</p>
              <p class="subtitle">HTML-верстка
              Утверждённый дизайн передаётся HTML-верстальщику, который «нарезает» графическую картинку на отдельные рисунки, из которых впоследствии складывает HTML-страницу. В результате создаётся код, который можно просматривать с помощью браузера. А типовые страницы впоследствии будут использоваться как шаблоны.
              Программирование
              Далее готовые HTML-файлы передают программисту. Программирование сайта может осуществляться как «с нуля», так и на основе CMS — системы управления сайтом. Веб-разработчики часто называют CMS «движком».
              В случае с CMS надо сказать, что сама «CMS» в некотором смысле это готовый сайт, состоящий из заменяемых частей. «Программист» — в данном случае правильно будет назвать его просто специалистом по CMS — должен заменить стандартный шаблон, поставлявшийся с CMS, на оригинальный шаблон. Этот оригинальный шаблон он и должен создать на основе исходного «веб-дизайна».
              При программировании сайта специалисту назначаются контрольные точки сроков.
              Завершающим этапом разработки сайта является тестирование
              Процесс тестирования может включать в себя самые разнообразные проверки: вид страницы с увеличенными шрифтами, при разных размерах окна браузера[1], при отсутствии флэш-плеера и многие другие. Также — юзабилити-тестирование.
              Обнаруженные ошибки отправляются на исправление до тех пор, пока не будут устранены. Сроки контролирует менеджер проекта. Также, на этом этапе привлекают к работе дизайнера, чтобы он провёл авторский надзор.
              </p>

              <p style="margin:0px auto" class="button"> Оставить заявку</p>
              </div>
              
            </transition>
            
          </div>

          <div class="subcontainer2">
            <div class="c1">
                <div class="c11">
                  <p>счетчик</p>
                  <div class="flex">
                    <p>5 лет опыта</p>
                    <p>10 клиент</p>
                  </div>
                  
                </div>
                <div class="c2">
                  <div class="c22"> <p>пакеты </p> <p>описание</p></div>
                  <div class="c22"></div>
                  <div class="c22"></div>
                </div>
            </div>
          </div>
          
        </div>
        
      </div>
    </div>
  </div>
</template>

<script>
export default {
  methods:{
    goto(n){
      if(n<this.visibleSlide){
        this.direction = 'left'
      }
      else{
        this.direction = 'right'
      }
      this.visibleSlide = n;
      
    }
  },
  data() {
    return {
      direction:null,
      visibleSlide:0,
       slides: [
                {
                    title: 'Гарантия решения задачи и оплата за результат',
                    subtitle: 'Разработка сайтов: Любой сложности от порталов до Аукционов.',
                    src: require("../assets/image/Group 127.png"),
                    id:0,
                    
                },
                {
                    title: 'Гарантия решения задачи и оплата за результат',
                    subtitle: 'Разработка приложений: Под ключ на разные платформы.',
                    src: require("../assets/image/Group 129.png"),
                    id:1,
                },
                {
                    title: 'Гарантия решения задачи и оплата за результат',
                    id:2,
                    subtitle: 'Дизайн: Моделируем оптимально-лучший вариант вашего продукта.',
                    src: require("../assets/image/Group.png"),
                },
                {
                    title: 'Гарантия решения задачи и оплата за результат',
                    subtitle: 'SEO Оптимизация: Продвижение вашего сайта на первую страницу поисковиков.',
                    src: require("../assets/image/Group (1).png"),
                    id:3,
                },
                {
                    title: 'Гарантия решения задачи и оплата за результат',
                    subtitle: 'Редизайн Продукта: Сохраняя хорошее изменим/исправим в более лучшую сторону',
                    src: require("../assets/image/Group (2).png"),
                    id:4,
                },
                {
                    title: 'Гарантия решения задачи и оплата за результат',
                    subtitle: 'SMM/Targeting: Продвижение в социальных сетях и увеличение потока клиентов',
                    src: require("../assets/image/Group 131.png"),
                    id:5,
                },
                {
                    title: 'Гарантия решения задачи и оплата за результат',
                    id:6,
                    subtitle: 'Продвижение продукта/бренда: Увеличим узнаваемость бренда',
                    src: require("../assets/image/Group 2.png"),
                },
            ],
            
      slide_item: [
                {
                    title: 'Разработка сайтов',
                    visited: true,
                    id: 1
                },
                {
                    title: 'Разработка Мобильного приложения',
                    vizited: false,
                    id: 2
                },
                {
                    title: 'Дизайн',
                    vizited: false,
                    id: 3
                },
                {
                    title: 'SEO оптимизация',
                    vizited: false,
                    id: 4
                },
                {
                    title: 'Редизайн Сайтов и приложении',
                    vizited: false,
                    id: 5
                },
                {
                    title: 'SMM / Targeting / Social Media',
                    vizited: false,
                    id: 6
                },
                {
                    title: 'Продвижение услуг, товаров и Бренда',
                    vizited: false,
                    id: 7
                }
            ]
    }
  }
}
</script>

<style scoped>
@media screen  and (max-width: 540px){
  
}
.left-enter-active{
  animation: leftIn 0.6s ease-in-out;
}
.left-leave-active{
  animation: leftOut 0.6s ease-in-out;
}
@keyframes leftIn {
  from{ transform: translateY(100%);}
  to { transform: translateY(0); }
}
@keyframes leftOut {
  from{ transform: translateY(0);}
  to { transform: translateY(-100%); }
}
.right-enter-active{
  animation: rightIn 0.6s ease-in-out;
}
.right-leave-active{
  animation: rightOut 0.6s ease-in-out;
}
@keyframes rightIn {
  from{ transform: translateY(-100%);}
  to { transform: translateY(0); }
}
@keyframes rightOut {
  from{ transform: translateY(0);}
  to { transform: translateY(-100%); }
}
.c22 p{
  margin-left: 50px;
}
.c22 p:nth-child(2){
  font-weight: normal;
font-size: 1.3rem;
line-height: 33px;
/* identical to box height */


color: #FFFFFF;
}
.c22 p:nth-child(1){
  width: 100px;
  margin-right: 80px;
  font-weight: bold;
font-size: 1.3rem;
line-height: 33px;
/* identical to box height */


color: #FFFFFF;
}


.c22{
width: 303px;
height: 201px;
background: #000;
}
.c2{
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  height: 300px;
  width: 100%;
}
.flex p{
  width: 100px;
  margin-right: 80px;
}
.flex{
  display: flex;
}
.c11 p{
  margin-left: 50px;
  font-weight: bold;
font-size: 30px;
line-height: 41px;
/* identical to box height */


color: #FFFFFF;
}
.c11{
  background: black;
  width: 744px;
height: 264px;
}
.c1 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.subcontainer2{
  margin-top: 100px;
  width: 100%;
  height: 600px;
}
.button:hover{
  opacity: 0.8;
}
.button{
  font-weight: bold;
font-size: 18px;
line-height: 25px;
/* identical to box height */

display: flex;
align-items: center;
text-align: center;

/* dark */

color: #343434;
  width: 250px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 55px;
color:black;
background: #FFD600;
border-radius: 2px;

}
.subtitle{
  font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 25px;
margin-top: 18px;
color: #FFFFFF;
width: 62vw;
height: 555px;
margin-left: 130px;
font-family: Open Sans;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 25px;
color: #FFFFFF;

}
.title{
  width: 80vw;
  font-weight: 600;
font-size: 24px;
line-height: 33px;
text-align: center;
margin-top: 100px;
color: #FFFFFF;

}
.suret{
  display: flex;
  justify-content: center;
  align-items: center;
}
.subcontainer11{
   width: 80%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.subcontainer1{
  width: 80%;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.subcontainer{
  display:flex;
  text-align: center;
}
.left_subcontainer_slider{
    width: 171px;
    background: #1A1A1A;
    margin-top: 24px;
    height: 100%;
    padding-bottom: 30px;
}
.visited {
    color: #FFD600;
}
.left_subcontainer_slider_element{
    width: 154.33px;
    height: 69px;   
    font-size: 12px;
    margin-left: 20px;
    padding-bottom: 25px;
    cursor: pointer;
    padding-top: 20px;
}
.left_subcontainer_slider_element:hover{
    color:#FFD600;
}
.slider_element_title{
    font-family: 'Open Sans', sans-serif;
    width: 154px;
    height: 28px;
    font-weight: bold;
    font-size: 10.5px;
    text-transform: uppercase;

}


  span{
    margin-right: 4px;
    
  }
  .p{
    display: flex;
    opacity: 0.6;
    align-items: center;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    /* identical to box height */

    text-align: center;

    color: #FFFFFF;
  }
  .container{
    width: 87%;
    height: 400px; 
    color: white;
  }
  .projects{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 400px !important;
  }
  
  @media only screen and (max-width: 600px) {
    .slider_element_title{
        font-family: 'Open Sans', sans-serif;
        width: 154px;
        height: 28px;
        font-weight: bold;
        font-size: 10.5px !important;
        text-transform: uppercase;

    }


  span{
    margin-right: 4px;
    
  }
  .p{
    display: flex;
    opacity: 0.6;
    align-items: center;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    /* identical to box height */

    text-align: center;

    color: #FFFFFF;
  }
  .container{
    width: 87%;
    height: 400px; 
    color: white;
  }
  .projects{
      display: flex;
      justify-content: center;
      width: 100%;
      height: 400px !important;
    }
    .title{
  width: 90vw;
  font-weight: 600;
font-size: 12px;
line-height: 33px;
text-align: center;
margin-top: 100px;
color: #FFFFFF;
margin-left: 50px;

}
.suret img{
  width: 270px;
}
.suret{
  display: flex;
  justify-content: center;
  align-items: center;
}
.subcontainer11{
   width: 80%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.subcontainer1{
  width: 80%;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.subcontainer{
  display:flex;
}
.left_subcontainer_slider{
    width: 171px;
    background: #1A1A1A;
    margin-top: 24px;
    height: 100%;
    padding-bottom: 30px;
}
.visited {
    color: #FFD600;
}
.left_subcontainer_slider{
  display:none;
    width: 74.33px;
    height: 69px;   
    font-size: 12px;
    margin-left: 20px;
    padding-bottom: 25px;
    cursor: pointer;
    padding-top: 20px;
  }
  .c22 p{
  margin-left: 50px;
}
.c22 p:nth-child(2){
  font-weight: normal;
font-size: 14px;
line-height: 33px;
/* identical to box height */


color: #FFFFFF;
}
.c22 p:nth-child(1){
  width: 100px;
  margin-right: 80px;
  font-weight: bold;
font-size: 15px;
line-height: 33px;
/* identical to box height */


color: #FFFFFF;
}


.c22{
width: 303px;
height: 164px;
background: #000;
}
.c2{
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  height: 164px;
  width: 90%;
}
.flex p{
  width: 50px;
  margin-right: 40px;
}
.flex{
  display: flex;
}
.c11 p{
  margin-left: 50px;
  font-weight: bold;
font-size: 12px;
/* identical to box height */


color: #FFFFFF;
}
.c11{
  background: black;
  width: 90%;
height: 164px;
}
.c1 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.subcontainer2{
  margin-top: 100px;
  width: 100%;
  height: auto;
}
.button:hover{
  opacity: 0.8;
}
.button{
  font-weight: bold;
font-size: 16px;
line-height: 25px;
/* identical to box height */

display: flex;
align-items: center;
text-align: center;

/* dark */
margin-top:0px;
    margin-left: 100px !important;
color: #343434;
  width: 250px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 55px;
color:black;
background: #FFD600;
border-radius: 2px;
}
.subtitle{
  font-style: normal;
  font-weight: normal;
  font-size: 11px ;
  line-height: 25px;
  margin-top: 18px;
  color: #FFFFFF;
  width: 80vw;
  margin-left: 70px;
  height: auto;
  
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  line-height: 25px;

  color: #FFFFFF;
  }
} 
@media only screen and (max-width: 1280px) and (min-width:601px){
  .c11{
    width: 69vw !important;
  }
  .c22{
    width:22vw !important;
  }
  .title{
    width: 70vw !important;
    margin-left: 20px;
  }
  .subtitle{
    height: auto !important;
    width: 54vw !important;
  }
}
</style>