<template>
  <div class="blog">
      <div class="container">
          <p class="blog_text">Блог</p>

          <div class="subcontainer">
              <div class="item">
                  <div class="subitem">
                      <div class="photo">
                          <p>ФОто</p>
                      </div>
                      <p class="title">Название блога</p>
                      <p class="read">Читать</p>
                  </div>
                  <div class="subitem">
                      <div class="photo">
                          <p>ФОто</p>
                      </div>
                      <p class="title">Название блога</p>
                      <p class="read">Читать</p>
                  </div>
              </div>
              <div class="item">
                <div class="subitem_big">
                      <div class="photo_big">
                          <p>ФОто</p>
                      </div>
                      <p class="title">Название блога</p>
                      <p class="read">Читать</p>
                  </div>
              </div>
              <div class="item">
                  <div class="subitem_big1">
                      <div class="photo_big1">
                          <p>ФОто</p>
                      </div>
                      <p class="title">Название блога</p>
                      <p class="read">Читать</p>
                  </div>
              </div>
          </div>
      </div>
  </div>
</template>
<script>
export default {
    
}
</script>

<style scoped>
@media only screen and (max-width: 767px) {
    .photo_big1{
        width: 220px !important;
        height: 90px !important;
        background: #615f5f;
        display: flex;
        justify-content: center;
        align-items: center;
        text-transform: uppercase;
        color: white;
        margin: 24px;
        text-decoration-line: underline;
    }
    
    .photo_big{
        width: 220px !important;
        height: 90px !important;
        background: #615f5f;
        display: flex;
        justify-content: center;
        align-items: center;
        text-transform: uppercase;
        color: white;
        margin: 24px;
        text-decoration-line: underline;
    }
   
    .read {
        font-size: 12px !important;
        cursor: pointer;
        text-decoration-line: underline;
        text-transform: uppercase;
        color: #8C8C8C;
        margin-left: 24px;
        margin-bottom: 18px;

    }
    .title {
        margin-left: 24px;
        cursor: pointer;
        font-weight: bold;
        color: white;
        font-size: 12px !important;
        text-decoration-line: underline;
        text-transform: uppercase;
    }
    .photo p {
        
        text-decoration-line: underline;
    }
    .photo {
        width: 220px !important;
        height: 90px !important;
        background: #615f5f;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        margin: 24px;
        text-transform: uppercase;
    }
    .item .subitem:nth-child(1){
        margin-bottom: 24px;
    }
    .item .subitem:nth-child(2){
        margin-bottom: 24px;
        display: none !important;
    }
    .subitem{
        width: 200px !important;
        height: 139px !important;
 
    }
    .item{
        width: 250px !important;
        height: 202px !important;
        margin-left: 74px !important;
        background: #343434;
        font-size: 12px !important;
    }
    .subcontainer{
        display: flex;
        flex-direction: column;
        width: 100% !important;

    }
    .blog_text{
        margin-left: 100px !important;
        font-size: 15px !important;
        text-transform: uppercase;
        color: #FFD600;
        width: 70px;
        height: 24px;
    }
    .blog {
        margin-top: 150px !important;
        background-image: url("../assets/image/image.png");
         width: 100%;
        height: 621.62px;
        display: flex;
        
    }
    .container{
        margin-left: 10px !important;
        width: 80%;
        height: 100%;
    }

}
@media only screen and (min-width: 768px) and (max-width: 1023px){
    .container{
        margin-left: 168px !important;

    }
}
@media only screen and (min-width: 1024px) and (max-width: 1024px) {
    .container{
        margin-left: 190px !important;
    }
    .photo_big, .photo_big1{
        height: 42vh !important;
    }
}

    .photo_big1{
        width: 15vw;
        height: 49vh;
        background: #615f5f;
        display: flex;
        justify-content: center;
        align-items: center;
        text-transform: uppercase;
        color: white;
        margin: 24px;
        text-decoration-line: underline;

    }
    
    .photo_big{
        width: 20vw;
        height: 49vh;
        background: #615f5f;
        display: flex;
        justify-content: center;
        align-items: center;
        text-transform: uppercase;
        color: white;
        margin: 24px;
        text-decoration-line: underline;
    }
   
    .read {
        font-size: 0.9em;
        cursor: pointer;
        text-decoration-line: underline;
        text-transform: uppercase;
        color: #8C8C8C;
        margin-left: 24px;
        margin-bottom: 18px;
      

    }
    .title {
        margin-left: 24px;
        cursor: pointer;
        font-weight: bold;
        color: white;
        font-size: 1em;
        text-decoration-line: underline;
        text-transform: uppercase;
        
    }
    .photo p {
        
        text-decoration-line: underline;
    }
    .photo {
        width: 20vw;
        height: 17vh;
        background: #615f5f;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        margin: 24px;
        text-transform: uppercase;
        
        
    }
    .item .subitem:nth-child(1){
        margin-bottom: 24px;
    }
    .subitem{
        width: 24vw;
        height: auto;
    }
    .item{
        width: 30vw;
        height: auto;
        margin-right: 24px;
        background: #343434;

    }
    .subcontainer{
        display: flex;
        width: 60vw;
    }
    .blog_text{
        margin-left: 24PX;
        font-size: 2.1em;
        text-transform: uppercase;
        color: #FFD600;
        width: 70px;
        height: 24px;
        
    }
    .blog {
        margin-top: 234px;
        background-image: url("../assets/image/image.png");
        width: 100%;
        height: 621.62px;
        display: flex;
        
        
    }
    .container{
        margin-left: 260px;
        width: 80vw;
        height: 100%;
    }
</style>