<template>
  <div class="carousel">
      <slot></slot>

      <div class="left_buttons2">
            <button @click="prev" class="prev left_button2_first">
                <img src="../assets/image/arrowleft.svg" alt="">
            </button>
            <button @click="next"  class="next left_button2_second">
                <img src="../assets/image/arrowright.svg" alt="">
            </button>
        </div>
  </div>
</template>

<script>
export default {
    methods: {
        next() {
            this.$emit('next')
        },
        prev(){ 
            this.$emit('prev')
        },
    }
}
</script>

<style scoped>
@media only screen and (max-width: 768px) and (min-width: 600px) {
    .left_buttons2{
        margin-top: 210px !important;
    }
}
@media only screen and (max-width: 600px) {
 .left_buttons2{
    margin-top: 43px;
    margin-left: 167px !important;
    position:absolute;
    top: 500px !important;
}   
}

.left_buttons2{
    margin-top: 43px;
    margin-left: 117px;
    position:absolute;
    top: 573px;

}
.left_buttons2 img {
    width:24.25px;
}
.left_button2_first{
    width: 78px;
    height: 67px;
    background: #272727;
    border:none;
}
.left_button_first:hover, .left_button_second:hover, .left_button2_first:hover, .left_button2_second:hover{ 
    opacity: 0.5;
}
.left_button2_second{
    background: #2A2A2A;
    width: 78px;
    height: 67px;
    border:none;
}
</style>