<template>
  <div class="carousel">
      <slot></slot>

      <div class="slider_buttons">
              <button @click="next"><img src="../assets/image/next.png" alt=""></button>
              <button @click="prev"><img src="../assets/image/prev.png" alt=""></button>
        </div>
  </div>

</template>

<script>
export default {
    methods:{
        next(){
            this.$emit('next')
        },
        prev(){
            this.$emit('prev')
        }
    }
}
</script>

<style scoped>
@media only screen and (max-width: 600px) {
    .carousel{
        display: block !important;
    }
}  
    .carousel{
        display: flex;
    }
     .slider_buttons{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-left: 50px;
        cursor: pointer;
        
    }
    button{
        border:none;
        display: block;
        background: transparent;
        outline: none;
        cursor: pointer;
        width: 26.8px;
        height: 51.29px;
    }
  
</style>