<template>
  <div id="app">
    <HeaderComponent></HeaderComponent>
    <router-view></router-view>
  </div>
</template>
<script>
import HeaderComponent from './components/HeaderComponent'
import ContainerComponent from './components/ContainerComponent'
import ProjectComponent from './components/ProjectComponent'
import BlogComponent from './components/BlogComponent'
import FormsComponent from './components/FormsComponent'
import ContactComponent from './components/ContactComponent'
export default {
  components: {
    HeaderComponent,ContainerComponent,ProjectComponent,BlogComponent,FormsComponent,ContactComponent
  }
}
</script>
<style>
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  #app {
  background: #343434;
  height: 3973px !important;
}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    
}
#app {
  background: #343434;
  height: 4000px;
}
#nav {
  background-color: gray;
  height: 70px;
}
</style>
